# latex files
*.aux
*.log
*.bbl
*.blg
*.out


# notebooks
*/.ipynb_checkpoints/*
*.ipynb_checkpoints/*

# tests
tests/__pycache__/*

# packaging
src/opt_mo/__pycache__/*
*opt_mo.*
__pycache__/*

# vscode
.vscode/*

# vim temp files
.*.swp
.*.swo

# data
data/*
*.DS_store

# images
img/mean_average/*
img/reactive/*
img/convexity/*
img/Fingerprints/*

# coverage 
.coverage*


build/lib/opt_mo/*
dist/*
